In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [3]:
data = pd.read_csv("segmented_data.csv")

In [4]:
data.head()

,Unnamed: 0,roles,companies,locations,experience,skills,skill index
0,0,Data Scientist - Lead / Architect Wipro,Wipro,"'Kochi', ' Kolkata', ' Pune', ' Gurgaon', ' Ch...",5-10,"['_', 'data science', '_', '_', '_', 'python',...",-1.0
1,1,Urgent Requirement || Data Scientist || Noida,HCL,"'Noida', 'Delhi'",3-8,"['_', 'it skills', '_', 'python', '_', 'machin...",-1.0
2,2,Global Tax Automation & Operations - Data Scie...,Dell,'Bangalore',3-5,"['_', 'artificial intelligence', '_', 'data sc...",-1.0
3,3,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"'Noida', ' New Delhi', 'Delhi'",0-0,"['_', '_', '_', '_', '_', '_', '_', '_', '_', ...",-1.0
4,4,Technical Architect/ Data Scientist,DMI Innovations Pvt. Ltd,"'Noida', ' Pune', ' Chennai', 'Bangalore'",8-13,"['_', 'it skills', '_', 'python', '_', '_', '_...",-1.0

In [5]:
k = data.loc[1,'skills']
k = k.split("'")
to_remove = list(dict.fromkeys(k))

In [6]:
new_rem = []
for i in range(len(to_remove)):
    if to_remove[i][0].isalnum() is False:
        new_rem.append(to_remove[i])

In [7]:
print(new_rem)

['[', '_', ', ', ']']

In [8]:
for i in range(len(data)):
    k = data.loc[i,'skills'].split("'")
    without_ = []
    for l in range(len(k)):
        if k[l] not in new_rem:
            without_.append(k[l])        
    if len(without_)==0:
        data.loc[i,'skills'] = "None"
    else:
        data.loc[i,'skills'] = str(without_)

In [9]:
type(data.loc[1,'skills'])

str

In [10]:
data.head()

,Unnamed: 0,roles,companies,locations,experience,skills,skill index
0,0,Data Scientist - Lead / Architect Wipro,Wipro,"'Kochi', ' Kolkata', ' Pune', ' Gurgaon', ' Ch...",5-10,"['data science', 'python', 'it skills', 'artif...",-1.0
1,1,Urgent Requirement || Data Scientist || Noida,HCL,"'Noida', 'Delhi'",3-8,"['it skills', 'python', 'machine learning']",-1.0
2,2,Global Tax Automation & Operations - Data Scie...,Dell,'Bangalore',3-5,"['artificial intelligence', 'data science', 'i...",-1.0
3,3,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"'Noida', ' New Delhi', 'Delhi'",0-0,None,-1.0
4,4,Technical Architect/ Data Scientist,DMI Innovations Pvt. Ltd,"'Noida', ' Pune', ' Chennai', 'Bangalore'",8-13,"['it skills', 'python', 'data science', 'machi...",-1.0

In [11]:
def remove_sqrbrct(string):
    for i in range(len(data)):
        k = data.loc[i,string]
        k=str(k)
        data.loc[i,string] = k
    data[string] = data[string].str.replace("^\[|\]|$","")
# data.head()

In [12]:
remove_sqrbrct('skills')

<ipython-input-11-e6c84e9a46d0>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  data[string] = data[string].str.replace("^\[|\]|$","")

In [13]:
data.head()

,Unnamed: 0,roles,companies,locations,experience,skills,skill index
0,0,Data Scientist - Lead / Architect Wipro,Wipro,"'Kochi', ' Kolkata', ' Pune', ' Gurgaon', ' Ch...",5-10,"'data science', 'python', 'it skills', 'artifi...",-1.0
1,1,Urgent Requirement || Data Scientist || Noida,HCL,"'Noida', 'Delhi'",3-8,"'it skills', 'python', 'machine learning'",-1.0
2,2,Global Tax Automation & Operations - Data Scie...,Dell,'Bangalore',3-5,"'artificial intelligence', 'data science', 'it...",-1.0
3,3,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"'Noida', ' New Delhi', 'Delhi'",0-0,None,-1.0
4,4,Technical Architect/ Data Scientist,DMI Innovations Pvt. Ltd,"'Noida', ' Pune', ' Chennai', 'Bangalore'",8-13,"'it skills', 'python', 'data science', 'machin...",-1.0

In [14]:
df = data[data['skills']!='None']

In [15]:
df.skills.str.replace('data sciencist','data science')

0       'data science', 'python', 'it skills', 'artifi...
1               'it skills', 'python', 'machine learning'
2       'artificial intelligence', 'data science', 'it...
4       'it skills', 'python', 'data science', 'machin...
5       'it skills', 'python', 'data science', 'machin...
                              ...
4154            'it skills', 'python', 'machine learning'
4155    'it skills', 'python', 'data science', 'machin...
4156         'data science', 'machine learning', 'python'
4158                                             'python'
4159    'data science', 'machine learning', 'it skills...
Name: skills, Length: 3878, dtype: object

In [17]:
x = df.iloc[:,5].values

In [19]:
r = x[0].split(",")

In [20]:
print(len(r))

6

In [21]:
encoder_data = []
for i in range(len(x)):
    r = x[i].split(",")
    encoder_data.append(r)

In [22]:

for i in range(len(encoder_data)):
    for j in range(len(encoder_data[i])):
        encoder_data[i][j] = encoder_data[i][j].replace(" '","")
        encoder_data[i][j] = encoder_data[i][j].replace("'","")

In [23]:
segment_array = np.array(encoder_data,dtype=object)

In [24]:
colum = ['python', 'machine learning', 'it skills', 'data science', 'computer science', 'artificial intelligence', 'r', 'java', 'sql', 'big data']
segment_dict ={}
for val,key in enumerate(colum):
    segment_dict[key] = val

In [25]:
segment_dict['data scientist'] = 3
print(segment_dict)

{'python': 0, 'machine learning': 1, 'it skills': 2, 'data science': 3, 'computer science': 4, 'artificial intelligence': 5, 'r': 6, 'java': 7, 'sql': 8, 'big data': 9, 'data scientist': 3}

In [26]:
print(encoder_data[0])

['data science', 'python', 'it skills', 'artificial intelligence', 'big data', 'r']

In [27]:
k = [None]*10
k[0] = 1
k[2] = 2
print(k)

[1, None, 2, None, None, None, None, None, None, None]

In [28]:
encoded_colum = []
for i in range(len(encoder_data)):
    temp = [0]*10
    for j in range(len(encoder_data[i])):
        temp[segment_dict[encoder_data[i][j]]] = 1
    encoded_colum.append(temp)

In [29]:
len(encoded_colum)

3878

In [30]:
df.to_csv('final_till_12_03.csv')

In [31]:
encoded_df = pd.DataFrame(columns=colum,data = encoded_colum)

In [33]:
pca = PCA()
principal_comp = pca.fit_transform(encoded_df)

In [34]:
print(principal_comp.shape)

(3878, 10)

In [35]:
pca_encoded_data = pd.DataFrame(columns=['pc1','pc2','pc3','pc4','pc5','pc6','pc7','pc8','pc9','pc10'],data= principal_comp)

In [36]:
pca_encoded_data.to_csv('pca_skills.csv')
encoded_df.to_csv('encoded_skills_data.csv')