In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv('scrapped.csv')
prof = ProfileReport(df)

In [3]:
prof.to_file(output_file='output.html')

Summarize dataset: 100%|██████████| 22/22 [00:03<00:00,  5.78it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.17s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.87it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 251.56it/s]

In [4]:
df.head()

,Unnamed: 0,roles,companies,locations,experience,skills
0,0,Data Scientist - Lead / Architect - Looking Fo...,Wipro,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",5-10 Yrs,Data Science\nSAS\nPython\nIT Skills\nArtifici...
1,1,Urgent Requirement || Data Scientist || Noida,HCL,"Noida, Delhi / NCR",3-8 Yrs,IT Skills\nPython\nMachine Learning\nNLP\nDeep...
2,2,Global Tax Automation & Operations - Data Scie...,Dell,Bangalore/Bengaluru,3-5 Yrs,Artificial Intelligence\nData Science\nData An...
3,3,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Delhi / NCR",0-0 Yrs,O2C\nfresher data analyst\nPower Bi\nBanking\n...
4,4,Technical Architect/ Data Scientist,DMI Innovations Pvt. Ltd,"Noida, Pune, Chennai, Bangalore/Bengaluru\n(WF...",8-13 Yrs,IT Skills\nPython\nSoftware Development\nTesti...

In [9]:
df['jobtitle'].value_counts().to_csv('out.csv')